body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}

#categories{
  display: flex;
  gap: 100px;
  margin: 50px;
  border-bottom: 2px solid sandybrown;
  padding-bottom: 80px;
}

#categories li {
  border: 5px solid sandybrown;
  padding: 15px 30px;
  background-color: antiquewhite;
  list-style: none;
  color: sienna;
}

#categories li h2 {
  color: saddlebrown;}

#categories li li {
  border: none;
  background-color: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border-bottom: 2px solid sandybrown;
  padding-bottom: 80px;
}

.gallery li {
  list-style: none;
  border: 7px solid burlywood;
  padding: 5px;
  background-color: mistyrose;
}

input {
    padding: 10px;
    border: 2px solid sandybrown;
    border-radius: 5px;
    margin-top: 20px;
}